.apropos-section2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex-direction: row; 
}

.apropos-image {
  width: 100%; 
  max-width: 100vh; 
  margin-left: 10px;
  border-radius: 50px;
}

.apropos-text {
  max-width: 50%;
  text-align: justify;
  margin: 100px; 
}

.apropos-text h2 {
  margin-bottom: 10px;
  text-align: center; 
}

.apropos-text p {
  font-size: 1.2em;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .apropos-section2-container {
    flex-direction: column; 
    padding: 40px;
  }

  .apropos-image {
    width: 100%; 
    max-width: 100%; 
    margin-left: 0; 
    margin-top: 50px;
    border-radius: 10px;
  }

  .apropos-text {
    max-width: 100%;
    margin: 0 auto; 
  }
}
