<section class="apropos-section2-container">
  <div class="apropos-text">
    <h2>Notre histoire</h2>
    <p>
      Notre ferme trouve ses racines dans une tradition familiale transmise de génération en génération. Tout a commencé il y a plusieurs décennies, lorsque nos ancêtres ont décidé de consacrer leur vie à l'élevage et à la terre. Avec passion et dévouement, ils ont posé les fondations de ce qui est aujourd’hui une ferme reconnue pour son engagement envers la qualité et l’excellence.

      Au fil des ans, nous avons su allier savoir-faire traditionnel et innovations modernes pour répondre aux besoins de nos clients tout en respectant la nature et le bien-être animal. Chaque étape de notre évolution a été guidée par des valeurs fortes : l’amour du métier, le respect de l’environnement, et la quête d’un avenir durable pour les générations futures.
      
      Notre objectif reste le même depuis nos débuts : offrir des produits de viande de la plus haute qualité, tout en étant un acteur responsable de la communauté agricole. Nous voulons également inspirer la confiance et nourrir les familles avec des produits issus d’un élevage éthique et d’une agriculture respectueuse.
    </p>
  </div>
  <img
    src="assets/images/stabule1.jpg"
    alt="Descripción de la imagen"
    class="apropos-image"
  />
</section>
