<div class="carousel-container relative w-full mx-auto border border-black overflow-hidden">
    <div class="carousel-track flex transition-transform duration-500 ease-linear" [ngStyle]="{'transform': 'translateX(-' + currentIndex * 100 + '%)', 'transition-duration': transitionDuration}">
      <div *ngFor="let img of images; let i = index" class="carousel-slide w-full flex-shrink-0 relative" 
           [ngClass]="{'prev-slide': i === currentIndex - 1 || (currentIndex === 0 && i === images.length - 1), 'next-slide': i === currentIndex + 1 || (currentIndex === images.length - 1 && i === 0), 'active-slide': i === currentIndex}">
        <img [src]="img.src" [alt]="img.alt" class="carousel-image w-full h-auto">
      </div>
    </div>
    <button class="carousel-control left" (click)="prevSlide()">&#10094;</button>
    <button class="carousel-control right" (click)="nextSlide()">&#10095;</button>
  </div>
  