.full-width-section {
  width: 100%;
  background-color: #8d6e63;
  color: white;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-width-section p {
  flex: 1; 
  margin-right: 20px; 
}

.full-width-section a {
  flex-shrink: 0; 
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.full-width-section a:hover {
  background-color: white;
  color: #8d6e63;
}

.carousel-section {
  background-color: #c8e6c9;
}
