<nav class="bg-navbar-color p-4 shadow-lg">
  <div class="container mx-auto flex justify-between items-center">
    <a 
      routerLink="/admin"
      routerLinkActive="active-link"
      class="text-marron hover:text-vert block text-center lg:inline-block"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Admin Page
    </a>

    <img src="assets/logo.png" alt="GAEC-Brosses Logo" class="logo mr-2" />

    <!-- Botón del menú Burger (Visible en pantallas pequeñas) -->
    <button
      class="inline-flex items-center p-2 rounded-md text-marron hover:text-vert lg:hidden"
      (click)="toggleMenu()"
      aria-label="Menu"
    >
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        />
      </svg>
    </button>

    <!-- Menú de navegación -->
    <ul
      [ngClass]="{ hidden: !isMenuOpen, block: isMenuOpen, 'lg:flex': true }"
      class="lg:space-x-6 lg:block space-y-2 lg:space-y-0 absolute lg:relative bg-navbar-color w-full lg:w-auto left-0 top-16 lg:top-0"
    >
      <li>
        <a
          routerLink="/"
          routerLinkActive="active-link"
          class="text-marron hover:text-vert block text-center lg:inline-block"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMenu()"
        >
          Accueil
        </a>
      </li>
      <li>
        <a
          routerLink="/visit"
          routerLinkActive="active-link"
          class="text-marron hover:text-vert block text-center lg:inline-block"
          (click)="toggleMenu()"
        >
          Visit
        </a>
      </li>
      <li>
        <a
          routerLink="/a-propos"
          routerLinkActive="active-link"
          class="text-marron hover:text-vert block text-center lg:inline-block"
          (click)="toggleMenu()"
        >
          À propos
        </a>
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active-link"
          class="text-marron hover:text-vert block text-center lg:inline-block"
          (click)="toggleMenu()"
        >
          Contact
        </a>
      </li>
    </ul>
  </div>

  <div>
    <ul>
      <!-- Mostrar 'Log In' y 'Register' si el usuario no está autenticado -->
      <li *ngIf="!userName">
        <a
          routerLink="/login"
          routerLinkActive="active-link"
          class="text-marron hover:text-vert block text-center lg:inline-block"
          (click)="toggleMenu()"
        >
          Log In
        </a>
      </li>
      <li *ngIf="!userName">
        <a
          routerLink="/register"
          routerLinkActive="active-link"
          class="text-marron hover:text-vert block text-center lg:inline-block"
          (click)="toggleMenu()"
        >
          Register
        </a>
      </li>

      <!-- Mostrar 'Logout' y 'User ID' si el usuario está autenticado -->
      <li *ngIf="userName">
        <span class="text-marron block text-center lg:inline-block">Welcome, <strong>{{ userName }} </strong></span>
      </li>
      <li *ngIf="userName">
        <button
          (click)="logout()"
          class="text-marron hover:text-vert block text-center lg:inline-block"
        >
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>
