.bg-navbar-color {
  background-color: #d7ccc8;
}

.text-marron {
  color: #8d6e63;
}

.hover\:text-vert:hover {
  color: #4caf50;
}

.active-link {
  font-weight: bold; 
  border-bottom: 2px solid #4caf50; 
  color: #4caf50; 
}

@media (max-width: 1024px) {
  ul {
    display: none;
  }

  ul.block {
    display: block;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: #d7ccc8;
    padding: 1rem 0;
    z-index: 1001;
  }

  ul.block li {
    text-align: center;
    padding: 1rem 0;
  }

  .active-link {
    font-weight: bold; 
    border-bottom: 2px solid #4caf50; 
    color: #4caf50; 
  }
}

.logo {
  max-height: 80px;
  width: auto;
}

nav {
  height: 64px;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.adminpage{
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 10px;
}