<div class="apropos-section1-container">
  <img
    src="assets/images/photoferme.jpg"
    alt="About Us Image"
    class="apropos-image"
  />
  <div class="apropos-text">
    <h2>Bienvenue sur notre site web!</h2>
    <p>
      Nous sommes une ferme familiale passionnée, dédiée à la production de viande de qualité supérieure et à la vente de bétail. Depuis des générations, nous nous engageons à élever nos animaux avec soin et respect, en privilégiant des pratiques agricoles durables et éthiques.

      Notre mission est de fournir à nos clients des produits d’excellence tout en soutenant le bien-être animal et en respectant l’environnement. Nous croyons fermement que des pratiques responsables garantissent une viande savoureuse et saine, et nous sommes fiers de partager notre savoir-faire avec vous.
      
      Explorez notre site pour découvrir nos services, nos engagements et les nombreuses raisons pour lesquelles nous sommes un partenaire de confiance pour vos besoins en viande et en bétail. N'hésitez pas à nous rendre visite pour vivre une expérience authentique au cœur de notre ferme!
    </p>
  </div>
</div>
