.apropos-section1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex-direction: row; 
 
}

.apropos-image {
  width: 100%; 
  max-width: 60vh; 
  margin-right: 10px; 
  border-radius: 50px;
}

.apropos-text {
  max-width: 50%; 
  text-align: justify; 
  margin: 200px; 
}

.apropos-text h2 {
  margin-bottom: 10px;
  text-align: center; 
}

.apropos-text p {
  font-size: 1.2em;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .apropos-section1-container {
    flex-direction: column;
    padding: 40px;
  }

  .apropos-image {
    width: 100%; 
    max-width: 100%; 
    margin-right: 0;
    margin-bottom: 50px;
    border-radius: 10px;
  }

  .apropos-text {
    max-width: 100%; 
    margin: 0 auto; 
  }
}
