<!-- <h1>Gestion des Réservations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Date</th>
      <th>Statut</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.nom }}</td>
      <td>{{ reservation.date | date:'short' }}</td>
      <td>{{ reservation.statut }}</td>
      <td>
        <button class="btn btn-primary">Éditer</button>
        <button class="btn btn-danger">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table> -->
