<div class="full-width-section bg-8D6E63 text-white py-10">
    <div class="container mx-auto flex justify-between items-center">
      <p class="text-lg">
        Bienvenue à notre ferme! Située au cœur de la campagne, notre exploitation agricole se consacre à l'élevage de vaches charolaises et à la production de viande de haute qualité. Nous croyons en une agriculture durable et respectueuse de l'environnement, offrant ainsi à nos animaux les meilleures conditions de vie.
      </p>
      <a href="/a-propos" class="buttonapropos text-white font-bold bg-transparent border border-white py-2 px-4 inline-block rounded-lg hover:bg-white hover:text-8D6E63 transition duration-300">
        En savoir plus sur nous
      </a>
    </div>
  </div>
  